
body,
.bg-container,
.gallery-images,
.slider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}


.slider{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    animation: slideEffect 3000ms;
}
.slider::before{
  background-color: transparent;
}

.slide1{
    background-image: linear-gradient(#000, transparent, #000), url("https://instagram.fewr1-6.fna.fbcdn.net/v/t51.2885-15/e35/57422086_2111334715650204_1305024791781546669_n.jpg?_nc_ht=instagram.fewr1-6.fna.fbcdn.net&_nc_cat=100&_nc_ohc=rePIykl4H_4AX_B_lHQ&oh=d25824fa96b6737ae00193e3a3a682fe&oe=5EA5F778");
    /* background-image: url('https://scontent.cdninstagram.com/v/t51.2885-15/sh0.08/e35/p640x640/83762482_259798038320638_3863750660456811244_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=9WcqT8j8OQIAX97OBTK&oh=c484d857c6eed82e61c7ff5558e212a8&oe=5EC9A205'); */
}
.slide2{
    background-image: linear-gradient(#000, transparent, #000), url("images/alibi-inside4.jpg");
}
.slide3{
  background-image: linear-gradient(#000, transparent, #000), url("images/misc-img1.jpg");
}
.slide4{
  background-image: linear-gradient(#000, transparent, #000), url("images/misc-img2.jpg");
}
.slide5{
  background-image: linear-gradient(#000, transparent, #000), url("images/misc-img3.jpg");
}

@keyframes slideEffect{
  from{
    opacity: 0.7;
  }
  to{
    opacity: 1;
  }
}






/* flexbox in use for tablets and iphones */
@media (max-width: 768px){
  .flexImages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;    
  }
  .flexImages img{
    background-repeat: no-repeat;
    background-size: contain;
    
    min-height: 50vh;
    height: 50vh;
    object-fit: cover;
  }



  /* gallery */
  .insta-gallery{
    display: flex;
    flex-wrap: wrap;
    
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
  }
  .insta-gallery .insta-item{
    /* width: 50vw;
    height: 100vh; */
    overflow: hidden;
    flex-basis: 50%;
  }
  .insta-item .inner{
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
  
  .insta-item img{
    width: 100%; 
    height: auto; 
    object-fit: cover;

    transition: all 0.3s;
  }
  .insta-item img:hover{
    transform: scale(1.1);
  } 



  .sect-group-dining{
    display: block;
    height: 50vh;
    width: 100vw;
    
    background-image: linear-gradient(#000, transparent, #000), url('images/alibi-inside3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .sect-group-dining .title-group-dining{
    font-family: "Musketeer";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  
    text-align: center;
    position: relative;
    top: 25%;
  }


  .sect-group-dining .inquire-now > a:hover{
    text-decoration: none;
    color: white;
  }
  .sect-group-dining .inquire-now:hover{
    background-color: #c2332f;
  }
  .sect-group-dining .inquire-now{
    background-color: white;
    padding: 20px 25px;
    margin-top: 30px;
    
    /* margin: 50% 35%; */
    /* z-index: 25; */
    /* background-color:#fff; */
    color:#423e3c;
    border-color:#fff;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-width: 3px;
    display: inline-block;
    font-weight: 700;
    line-height: 1.6875;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
  }
  
  .nav-routers{
    visibility: hidden;
  }

  .footer-links{
    position: fixed;
    bottom: 0;
        
    margin-left: 5%;  
    text-align: center;
    
    font-size: 25px;
    
    
    padding: 25px 50px;
    width: 100%;

    
  }
  .footer-links a{
    padding-right: 50px;
    text-decoration: none;
    color: white;  
    
  }
  /* end of media query for 768px */
}






/* anything greater than the size of tabnlets and iphones */
@media (min-width: 769px){
  .flexImages{
    display: flex;
    /* nowrap means that it will not be multiline when screen is shrinked */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(#000, transparent, #000);

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;    
  }
  /* assign flex-basis for individual images will make it evenly sized */
  .flexImages img{
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 50%;
    max-width: 50%;
    min-height: 50vh;

    outline: 2px dotted#827274;
    outline-color: rgb(130, 114, 116);
    outline-offset: -1.4rem;
    outline-color:#fff;
  }



  
  /*desktop gallery */
  .insta-gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    display: -webkit-flex;
    -webkit-flex-wrap: wrap;    
  }
  .insta-gallery .insta-item{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 0;    
    /* height: auto;  */

    /* overflow keeps the zoom within its own div without expanding it outside of it */
    overflow: hidden;

  }

  /*  force line break for every 7th images (source: https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout )*/
  .insta-item:nth-child(7n) {
    page-break-after: always;    
  }

  .insta-item img{
    width: 100%; 
    height: auto; 
    object-fit: cover;

    transition: all 0.3s;
  }
  .insta-item:hover img{
    transform: scale(1.1);
  }




/*desktop footer social icons */
.footer-links{
  position: fixed;
  bottom: 0;
  
  /* left: 45.5%; */
    
  font-size: 25px;
  
  
  padding: 25px 50px;
  width: 100%;
  background-color: black;
  opacity: .3;
  
}
.footer-links a{
  padding-right: 50px;
  text-decoration: none;
  color: white;  
  
}


.footer-links a:hover{
  color: #c2332f;
}

.footer-links2{
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 25px 50px;
  font-size: 1.2em;
  font-family: "futura regular";
}
.footer-links2 span{
  padding-right: 50px;
  text-decoration: none;
  color: white;

}
.footer-links2 span:hover{
  color: #c2332f;
}
.footer-links2 :nth-child(3){
  border: 3px solid #c2332f;
  padding: 10px 10px;
}
.footer-links2 :nth-child(3):hover{
  background-color: #c2332f;
  color: white;
}


/* for desktops personalized dining hall */

.sect-group-dining{
  position: relative;
  
  display: block;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  
  background-image: linear-gradient(#000, transparent, #000), url('images/alibi-inside2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title-group-dining{
  text-align: center;
}

.sect-group-dining .title-group-dining{

  font-family: "Musketeer";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;

  text-align: center;
  position: relative;
  top: 25%;
}
.sect-group-dining .title-group-dining h2{
  font-size: 2.25rem;

}

.sect-group-dining .inquire-now > a:hover{
  text-decoration: none;
  color: white;
}
.sect-group-dining .inquire-now:hover{
  color: white;
  background-color: #c2332f;
  text-decoration: none;
}
.sect-group-dining .inquire-now{
   

  margin-top: 50px;
  padding: 18px 25px;
  
  
  /* z-index: 25; */
  background-color:#fff;
  color:#423e3c;
  border-color:#fff;
  font-size: .8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-width: 3px;
  display: inline-block;
  font-weight: 700;
  line-height: 1.6875;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  font-family: "Musketeer";
  
}

}






/*****************************************************************/

.scroll-down{
  position: fixed;
  height: 16%;
  width: 100%;
  background-color: black;
  opacity: .7;
  box-sizing: border-box;    
  z-index: 50;
}

.mariel-logo-wrapper img{
    position: fixed;
    transition: all .2s ease-in-out 0s;
    padding-top: 16px;
    padding-left: 16px;
    
    /* top: 0; */
    /* border: solid 3px pink;  */
    z-index: 50;
}
.nav-routers{
  position: fixed;  
  right: 25%;
  left: 25%;
  text-align: center;  

  margin-top: 50px;
  
  font-family: "futura regular";
  font-size: 1.2em;
  color: white;
  z-index: 50;
}
.nav-routers span{
  padding-right: 50px;
}
.nav-routers span:hover{
  color: red;
}


.buttons .play-button{
  position: absolute;
  top: 80%;

  text-align: center;
  width: 100%;
}
.play-button #pause-btn{  
  font-size: 40px;
  position: absolute;
  
}
.play-button #play-btn{
  font-size: 40px;
  visibility: hidden;
}

/* Next & previous buttons */
#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px 48px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
    }
    
/* Position the "next button" to the right */
#next {
right: 0;
border-radius: 3px 0 0 3px;
}


.sect-group-dining{
  position: relative;
}
.btn-scroll-top{
  position: absolute;
  bottom: 25%;
  right: 15%;
}
/* scroll up button*/
#scroll-up-i{
  background-color: #dd3333;
  
  position: relative;
  left: 90%;
  
  
  color:#fff;
  display: block;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  width: 40px;
  height: 40px;  
  /* margin-bottom: 30%; */
} 




/* For intersectionObserver (drinks and food images) */
.flexImages{
  animation: slideEffect 1s;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); W3C   */
  background: linear-gradient(#000, transparent, #000)  
}
.flexImages img{  
  /* animation: slid  eEffect 1s; */
  transition: 3s ease-in-out;

  z-index: -1;
}




